name: Pylint

on:
  push:
    branches: main
  pull_request:
    branches: main

jobs:
  linter:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4.1.6

    - name: Setup Python
      uses: actions/setup-python@v5.1.0
      with:
        python-version: 3.12
        cache: pipenv

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Analysing the code with pylint
      run: pylint --recursive=y .
